<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="plugin/default.png"
            level-id="QuandlEODNode"
            name="QuandlEODNode"
            path="/community"/>
   </extension>

    <!-- <extension point="org.knime.workbench.repository.nodes">
        <node category-path="/community/source" factory-class="plugin.sourceFactory"/>
    </extension> -->
    <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/QuandlEODNode"
            factory-class="org.eod.QuandlEODNodeFactory"
            id="QuandlEODNodeFactory"/>
   </extension>

</plugin>
